# Ownership for this component group team
*  @adgear/cg-dsp-bidding-systems-greenfield

# Pull in the eng practices team on GitHub Actions and CODEOWNERS
/.github/ @adgear/cg-dsp-bidding-systems-greenfield