*.o
err.txt
build/*
src/parser.output
src/event_parser.output
.DS_Store
._.DS_Store
callgrind.out.*
cachegrind.out.*
massif.out.*
output.be
betree.dot
betree.png
betree.svg
compile_commands.json

betree_defs
betree_exprs
betree_events
betree_constants

betree_defs.1
daily_boolean_log*
output.txt
read_disk_log

tags
domains.txt
perf.md
*.swp
olddata/*
