*.o
err.txt
build/*
src/lexer.c
src/lexer.h
src/event_lexer.c
src/event_lexer.h
src/parser.c
src/parser.h
src/event_parser.c
src/event_parser.h
src/parser.output
src/event_parser.output
.DS_Store
callgrind.out.*
output.be
betree.dot
betree.png
betree.svg
compile_commands.json

betree_defs
betree_exprs
betree_events

betree_defs.1
daily_boolean_log*
output.txt
read_disk_log

tags
